@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #00355498;
}
main {
  flex-grow: 1;
}
#containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardHome {
  max-width: 400px;
  min-height: 200px;
  background-color: #babdbf;
  border-radius: 20px;
}
.cardImgHome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 5px;
  
}
.cardImgHome img {
  height: 50%;
  object-fit: contain;
}
.containerTexto {
  display: flex;
  flex-direction: column;
  color: white !important;
}
.textoPrecio {
  text-decoration: line-through;
  font-size: 15px !important;
  color: white;
}
.textoPrecioNuevo {
  color: red;
  font-size: 20px;
}
.cardFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardFooter button {
  margin: 10px;
  padding: 5px 30px;
  border-radius: 20px;
  border: none;
  background-color: green;
  color: white;
}
.card-title {
  text-align: center;
}
.card-body {
  height: 47vh;

}
.card-body p{
  text-align:start;
  color: white;
}
.navbar-nav {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
}
.btnLogin {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 15px;
}
.containerHome {
  margin-top: 75px;
}
#copyrightFooter {
  text-align: center;
  color: #e0e0e0;
}
#cuerpoFooter .h5 {
  color: #5d534e;
  text-decoration: underline #5c636a;
}
#cuerpoFooter li a,
li {
  text-decoration: none;
  color: #e0e0e0;
}
#cuerpoFooter ul {
  list-style: none;
  padding-left: 0;
}
.containerDetalle{
    margin-top: 10px;
}
.containerImg{
display: flex;
justify-content: center;
align-items: center;
}
.containerImg img{
  width: 100%;
}
.containerBtns{
    display: flex;
    justify-content: center;
}
.containerBtns button{
    padding: 5px 30px;
    border-radius: 20px;
    border: none;
    color: white;
}
.btnComprar {
    background-color: green;
}
.btnAgregarCarrito{
    background-color: orangered;
}
.btnCategories{
  margin: 5px;
  background-color: gainsboro;
  border-radius: 20px;
  border: none;
}
.changeColorBtnCategories{
  background-color: orange !important;
}
.btnHidden{
  display: none;
}
.btnClear{
  background-color: red;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.pagination-btn {
  display: inline-block;
  padding: 8px 16px;
  margin: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-decoration: none;
}

.pagination-btn:hover {
  background-color: #ddd;
}

.active {
  background-color: orange;
  color: white;
}
#ContainerPagination {
  text-align: center;
  margin-top: 20px;
}
